/* --- ADAPTAÇÕES PARA DESKTOP --- */

header, main, footer {
    max-width: 1000px;
}

/* Esconde o botão hambúrguer */
.hamburguer {
    display: none !important;
}

/* Restaura o menu inline horizontal */
.menu {
    display: flex !important;
    flex-direction: row !important;
    position: static !important;
    width: auto !important;
    background-color: transparent !important;
    padding: 0 !important;
    box-shadow: none !important;
    gap: 20px ;
}

.menu a:hover {
    text-decoration: underline;
}

/* Muda a grade para 3 colunas */
.foto-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* Remove a limitação de tamanho do mobile nas figuras */
.foto-grid figure {
    max-width: none;
}